openapi: 3.1.0
info:
  title: Mojang API - OpenAPI 3.1
  description: This is Mojang API for Make a ThridParty Launcher yourself
  version: 1.0.0
servers:
  - url: https://launchermeta.mojang.com
  - url: https://piston-meta.mojang.com
  - url: https://libraries.minecraft.net
  - url: https://resources.download.minecraft.net
paths:
  /mc/game/version_manifest.json:
    servers:
      - url: https://launchermeta.mojang.com
    get:
      summary: request minecraft game version mainfest
      operationId: getMinecraftGameVersionManifest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
  /v1/packages/{sha1}/{id}.json:
    servers:
      - url: https://piston-meta.mojang.com
    get:
      summary: request specified package info with sha1 and id
      operationId: getPackage
      parameters:
        - name: sha1
          in: path
          description: sha1 of package
          required: true
          allowEmptyValue: false
          schema:
            type: string
            default: a3bcba436caa849622fd7e1e5b89489ed6c9ac63
        - name: id
          in: path
          description: package id
          required: true
          allowEmptyValue: false
          schema:
            type: string
            default: 1.21.4
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
components:
  schemas:
    Manifest:
      type: object
      required:
        - latest
        - versions
      properties:
        latest:
          $ref: '#/components/schemas/Latest'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
    Latest:
      type: object
      required:
        - release
      properties:
        release:
          type: string
          examples:
            - 1.21.4
        snapshot:
          type: string
          examples:
            - 1.21.4
    Version:
      type: object
      required:
        - id
        - type
        - url
      properties:
        id:
          type: string
          examples:
            - 1.21.4
            - 1.21.4-rc3
        type:
          type: string
          examples:
            - release
            - snapshot
        url:
          type: string
          examples:
            - >-
              https://piston-meta.mojang.com/v1/packages/a3bcba436caa849622fd7e1e5b89489ed6c9ac63/1.21.4.json
            - >-
              https://piston-meta.mojang.com/v1/packages/b36938455cb91bc58c7463de80909764036576a2/1.21.4-rc1.json
        time:
          type: string
          examples:
            - '2024-12-03T10:24:48+00:00'
        releaseTime:
          type: string
          examples:
            - '2024-12-03T10:12:57+00:00'
    Package:
      type: object
      oneOf:
        - $ref: '#/components/schemas/GameVersion'
        - $ref: '#/components/schemas/GameVersionAsset'
    GameVersion:
      type: object
      required:
        - arguments
        - assetIndex
        - libraries
        - downloads
        - mainClass
        - id
        - type
        - time
        - releaseTime
        - minimumLauncherVersion
      properties:
        arguments:
          $ref: '#/components/schemas/Arguments'
        assetIndex:
          type: object
          required:
            - sha1
            - url
          properties:
            id:
              type: string
            sha1:
              type: string
            size:
              type: number
              format: int64
            totalSize:
              type: number
              format: int64
            url:
              type: string
        assets:
          type: string
        complianceLevel:
          type: number
          format: int64
        downloads:
          $ref: '#/components/schemas/Downloads'
        id:
          type: string
        javaVersion:
          type: object
          required:
            - majorVersion
          properties:
            component:
              type: string
            majorVersion:
              type: number
              format: int64
        libraries:
          type: array
          items:
            $ref: '#/components/schemas/Library'
        logging:
          type: object
          properties:
            client:
              type: object
              properties:
                argument:
                  type: string
                file:
                  $ref: '#/components/schemas/Asset'
                type:
                  type: string
        mainClass:
          type: string
        minimumLauncherVersion:
          type: number
          format: int64
        releaseTime:
          type: string
        time:
          type: string
        type:
          type: string
    Arguments:
      type: object
      required:
        - game
        - jvm
      properties:
        game:
          type: array
          items:
            $ref: '#/components/schemas/Argument'
        jvm:
          type: array
          items:
            $ref: '#/components/schemas/Argument'
    Downloads:
      type: object
      required:
        - client
        - client_mappings
        - server
        - server_mappings
      properties:
        client:
          $ref: '#/components/schemas/Asset'
        client_mappings:
          $ref: '#/components/schemas/Asset'
        server:
          $ref: '#/components/schemas/Asset'
        server_mappings:
          $ref: '#/components/schemas/Asset'
    Asset:
      type: object
      required:
        - sha1
        - size
        - url
      properties:
        id:
          type: string
        sha1:
          type: string
        size:
          type: number
          format: int64
        url:
          type: string
        path:
          type: string
    Library:
      type: object
      required:
        - name
        - downloads
      properties:
        downloads:
          type: object
          properties:
            artifact:
              $ref: '#/components/schemas/Asset'
        name:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Rule'
    Rule:
      type: object
      required:
        - action
      properties:
        action:
          type: string
        os:
          type: object
          properties:
            name:
              type: string
        features:
          $ref: '#/components/schemas/Features'
    Argument:
      oneOf:
        - type: string
        - type: object
          properties:
            rules:
              type: array
              items:
                $ref: '#/components/schemas/Rule'
            value:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
    Features:
      type: object
      additionalProperties:
        type: boolean
      examples:
        - is_demo_user: true
        - has_custom_resolution: false
    GameVersionAsset:
      type: object
      required:
        - objects
      properties:
        objects:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Object'
    Object:
      type: object
      required:
        - hash
        - size
      properties:
        hash:
          type: string
        size:
          type: number
          format: int64

