name: Tests

on:
  push:
  pull_request:

jobs:
  unit:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: swift build -c debug
      - name: Run tests
        run: swift test -q
